---
import Container from "~/components/ui/Container.astro";
import StoryblokImage from "~/components/ui/StoryblokImage.astro";
import ButtonLink from "~/components/ui/ButtonLink.astro";
import Typography from "~/components/ui/typography/Typography.astro";
import { makeEditable, sbLinkToHref } from "~/utils/storyblokRepository/helpers";
import type { PanelWithImageStoryblok } from "~/types/storyblok";
import type { BlokProps } from "~/types/storyblok.custom";

type Props = BlokProps<PanelWithImageStoryblok>;

const { blok } = Astro.props;
const { topHeader, bottomHeader, description, image, link } = blok;
---

<div class="bg-white" {...makeEditable(blok)}>
  <Container class="py-16">
    <div class="overflow-hidden rounded-lg bg-primary-900 shadow-xl lg:grid lg:grid-cols-2 lg:gap-4">
      <div class="px-6 pt-10 pb-12 sm:px-16 sm:pt-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="lg:self-center">
          <Typography as="h2" variant="h2" class="font-bold text-white">
            <span class="block">{topHeader}</span>
            <span class="block">{bottomHeader}</span>
          </Typography>
          <Typography as="p" variant="intro" class="mt-4 text-primary-200">
            {description}
          </Typography>
          {link?.map((linkContent) => (
            <ButtonLink class="mt-8" href={sbLinkToHref(linkContent.link)}>{linkContent.name}</ButtonLink>
          ))}
        </div>
      </div>
      <div class="relative -mt-6  aspect-[5/3] h-full translate-x-6 translate-y-6 sm:translate-x-16  md:aspect-[2/1] lg:translate-y-20">
        <StoryblokImage fill class="transform rounded-md object-cover object-center" src={image?.filename} alt={image?.alt} />
      </div>
    </div>
  </Container>
</div>