---
import StoryblokImage from "~/components/ui/StoryblokImage.astro";
import Typography from "~/components/ui/typography/Typography.astro";
import type { TwoGridColumnCardStoryblok } from "~/types/storyblok";
import type { BlokProps } from "~/types/storyblok.custom";
import { makeEditable } from "~/utils/storyblokRepository/helpers";

type Props = BlokProps<TwoGridColumnCardStoryblok>;

const { blok } = Astro.props;
const { asset, title, description } = blok;
---

<div class="relative space-y-4" {...makeEditable(blok)}>
  {asset?.filename?.slice(-3) === 'svg' ? (
    <span class="inline-flex items-center justify-center rounded-md bg-primary-800 p-3 shadow-lg">
      <StoryblokImage class="h-6 w-6 text-white" src={asset.filename} alt={asset.alt} fill />
    </span>
  ) : (
    <div class="relative mx-auto aspect-[16/9] ">
      <StoryblokImage src={asset?.filename} alt={asset?.alt} class="object-cover object-center" fill/>
    </div>
  )}
  <div class="space-y-2">
    <div class="space-y-2">
      <Typography as="h5" variant="h5" class="text-primary-900">{title}</Typography>
      <Typography as="p" variant="body" class="text-primary-700">{description}</Typography>
    </div>
  </div>
</div>

