---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import type { SbBlokData } from '@storyblok/astro';
import type { BlokProps } from '~/types/storyblok.custom';
import type { CategoryStoryblok, GlobalSettingsStoryblok, PostStoryblok, StoryblokStory } from '~/types/storyblok';
import Container from '~/components/ui/Container.astro';
import StoryblokImage from '~/components/ui/StoryblokImage.astro';
import Layout from '~/layouts/Layout.astro';
import Typography from '~/components/ui/typography/Typography.astro';
import RichTextContent from '../block-components/RichTextContent.astro';
import { getStoryblokVersion, isCategoriesStory } from '~/utils/storyblokRepository/helpers';
import { getStoryblokStories } from '~/utils/storyblokRepository';

type Props = BlokProps<PostStoryblok> & {
  globalSettingsStory: StoryblokStory<GlobalSettingsStoryblok>;
};

const { blok, globalSettingsStory } = Astro.props;
const { title, image, body, categories } = blok;

const storyblokVersion = getStoryblokVersion(Astro.cookies);

let resolvedCategories: StoryblokStory<CategoryStoryblok>[] = [];
if (isCategoriesStory(categories)) {
  resolvedCategories = categories;
} else if (categories) {
  try {
    resolvedCategories = await getStoryblokStories<StoryblokStory<CategoryStoryblok>>({
      by_uuids: categories.join(','),
      version: storyblokVersion,
      language: Astro.currentLocale,
    });
  } catch (error) {
    console.error('Error fetching categories:', error);
  }
}
---

<Layout blok={blok} globalSettingsStory={globalSettingsStory}>
  <div class="relative mb-10 h-[500px] w-full overflow-hidden bg-gray-100">
    {image && <StoryblokImage priority src={image.filename} alt={image.alt} fill class="object-cover" />}
  </div>

  <Container class="mb-20">
    <main>
      <Typography as="h1" variant="h1" class="mb-10">{title}</Typography>
      {
        body?.map((blok) =>
          blok.component === 'RichTextContent' && 'text' in blok ? (
            <RichTextContent blok={blok} />
          ) : (
            <StoryblokComponent blok={blok as SbBlokData} pageType="Blog" />
          )
        )
      }
    </main>

    <div class="mt-5 flex flex-wrap gap-3">
      {
        resolvedCategories?.map((category) => (
          <div class="rounded-sm bg-primary-600 p-1 text-white">{category.content.name}</div>
        ))
      }
    </div>
  </Container>
</Layout>
