---
import VSpacer from "~/components/ui/VSpacer.astro";
import type { FeatureGridStoryblok } from "~/types/storyblok";
import type { BlokProps } from "~/types/storyblok.custom";
import FeatureGridItem from "./FeatureGridItem.astro";
import { makeEditable } from "~/utils/storyblokRepository/helpers";

type Props = BlokProps<FeatureGridStoryblok>;

const { blok } = Astro.props;
const { headline, tagline, description, features, spacingBottom='md', spacingTop='md' } = blok;
---

<div class="relative bg-white" {...makeEditable(blok)}>
  <VSpacer size={spacingTop} />

  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base font-semibold uppercase tracking-wider text-primary-800">{headline}</h2>
    <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">{tagline}</p>
    <div class="mx-auto mt-5 max-w-prose text-xl text-gray-500">
      <p>{description}</p>
    </div>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {features?.map((featureBlok) => (
          <FeatureGridItem blok={featureBlok} />
        ))}
      </div>
    </div>
  </div>
  <VSpacer size={spacingBottom} />
</div>

